.Footer-container {
  display: flex;
  justify-content: center;
  background: #1d2020;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12) 0 1px 2px rgba(0, 0, 0, 0.26);
  color: #fff;
}
.frame {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.right-container,
.left-container {
  width: 50%;
  min-width: 322px;
}
.left-container {
  text-align: center;
}
.icons-container {
  width: 80%;
  margin: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icons {
  color: lightgray;
  width: 33%;
}
.Twitter:hover {
  color: skyblue;
}
.Github:hover {
  color: purple;
}
.LinkedIn:hover {
  color: royalblue;
}
.name {
  margin-bottom: 3px;
}
.title {
  margin: 0;
  opacity: 0.6;
}
.source {
  color: lightgray;
}
